@import "./variables";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
	  vertical-align: top;
    font-size: 14px;
    line-height: 1; 
    outline: 0px;
    /*outline: 1px solid black;*/
}

body{
    // text-align: center;
	overflow-x: hidden;
	overflow-y: auto;
}

ul, ol{
    list-style: none;
    font-size: 0px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul li, ol li{
    display: inline-block;
}

h1,h2,h3,h4,h5,h6{
    font: inherit;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.wrap{
    // display: inline-block;
    margin: 0px auto;
    width: 1200px;
}

.pc{
    display: inherit !important;
}

.mobile{
    display: none !important;
}

.pcimg{}
.moimg{
  display: none;
}

.flexBox{
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
table{
    border-collapse: collapse;
}

caption{
    display: none;
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="search"], 
input[type="image"], 
input[type="tel"], 
input[type="submit"], 
button, 
select, 
textarea{ 
    appearance: none;
    -moz-appearance: none; 
    -webkit-appearance: none;
    border-radius: 0; 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button{
  background: none;
  border: 0;
}

@media only screen and (min-width:100px) and (max-width:1300px){

}
@media only screen and (min-width:100px) and (max-width:1200px){
	
	.wrap{
		width: 100%;
		padding: 0px 15px;
	}

  .pc{
		display: none !important;
	}

	.mobile{
		display: inherit !important;
	}
	
}

@media only screen and (min-width:100px) and (max-width:1000px){

}

@media only screen and (min-width:100px) and (max-width:800px){

}

@media only screen and (min-width:100px) and (max-width:600px){
  .pcimg{
    display: none
  }
  .moimg{
    display: block;
  }
}

html{
  font-family: $fontMedium;
}

header{
  position: sticky;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  .logo{
    padding: 10px 0px;
    width: 350px;
  }
  .menu.pc{
    width: 100%;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #8fc1e0;
    ul{
      display: flex;
      li{
        flex: 1;
        position: relative;
        > a{
          width: 100%;
          line-height: 80px;
          font-size: 16px;
        }
        ol{
          position: absolute;
          background-color: #fff;
          max-height: 0px;
          overflow: hidden;
          transition: max-height .5s;
          li{
            width: 100%;
            a{
              width: 100%;
              padding: 15px 0px;
              line-height: 1;
              font-size: 14px;
              transition: background .3s;
              border-bottom: 1px solid #8fc1e0;
              background-color: #eee;
              &:hover{
                background-color: #ccc;
                color: #8fc1e0;
              }
            }
          }
        }
        &:hover{
          ol{
            max-height: 500px;
          }
        }
      }
    }
  }
  .menu.mobile{
    .button{
      i{
        font-size: 30px;
        cursor: pointer;
        position: relative;
        z-index: 101;
        transition: transform .3s;
      }
    }
    .button.view i{
      transform: rotate(90deg);
    }

    .bg{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #00000055;
      z-index: -10;
      visibility: hidden;
      opacity: 0;
      transition: opacity .3s;
    }
    .bg.view{
      visibility: visible;
      z-index: 10;
      opacity: 1;
    }

    .menuBox{
      position: fixed;
      z-index: 100;
      top: 0px;
      right: 0px;
      width: 250px;
      height: 100vh;
      background-color: #fff;
      max-width: 0px;
      overflow: hidden;
      transition: max-width .3s;
      ul{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 100%;
        li{
          width: 100%;
          position: relative;
          a{
            width: 100%;
            line-height: 45px;
            font-size: 16px;
            transition: background .5s;
            white-space: nowrap;
            &:hover{
              background-color: #ddd;
            }
          }
          ol{
            overflow: hidden;
            max-height: 0px;
            background-color: #eee;
            transition: max-height .5s;
          }
        }
        li.on{
          ol{
            max-height: 500px;
          }
        }
      }
    }
    .menuBox.view{
      max-width: 250px;
    }
  }
}
header.on{
  z-index: 20;
}

@media(max-width:1200px){
  header{
    text-align: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
  }
}

@media(max-width:600px){
  header{
    .logo{
      img{
        width: 200px;
      }
    }
  }
}

footer{
  background-color: #f9f9f9;
  padding: 50px 0px 100px;
  div{
    > a{
      img{
        width: 500px;
      }
    }
  }

  .fixedSns{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 11;
    ul{
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 15px 0px;
      border-top: 3px solid $mainColor;
      li{
        a{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 80px;
          padding: 0px 15px;
          font-family: $subFontMedium;
          font-weight: bold;
          img{
            width: 30px;
            margin-bottom: 15px;
          }
        }
        &:not(:last-child){
          border-bottom: 1px solid #eee;
        }
      }
    }
    .top{
      text-align: center;
      background-color: $mainColor;
      color: #fff;
      padding: 5px 0px;
      cursor: pointer;
      i{
        margin-right: 5px;
      }
    }
  }

  .tel{
    position: fixed;
    bottom: 30px;
    right: 15px;
    background-color: $mainColor;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    img{
      width: 40px;
    }
  }

  .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      margin-top: 15px;
      line-height: 1.2;
      .br{
        display: none;
      }
    }
    .sns{
      li{
        a{
          padding: 0px 5px;
        }
      }
    }
  }
}

@media (max-width:1000px){
  footer{
    text-align: center;
    padding: 50px 0px 50px;
    .wrap{
      flex-direction: column;
      justify-content: center;
      div{
        .logo{
          img{
            width: 300px;
          }
        }
        p{
          span{
            display: none;
          }
          .br{
            display: block;
          }
        }
      }
      .sns{
        margin-top: 20px;
      }
    }
  }
}

@media (max-width:600px){
  footer {
    padding: 50px 0px 120px;
    .fixedSns{
      display: none;
      // width: 100%;
      // top: unset ;
      // right: unset;
      // bottom: 0;
      // transform: none;
      // ul{
      //   display: flex;
      //   flex-direction: row;
      //   align-items: flex-end;
      //   width: 100%;
      //   border-top-left-radius: 0%;
      //   border-bottom-left-radius: 0%;
      //   border-top: 2px solid $mainColor;
      //   padding: 10px 0px;
      //   li{
      //     flex: 1;
      //     a{
      //       font-size: 0px;
      //       width: 100%;
      //       padding: 5px 0 ;
      //       img{
      //         margin-bottom: 0px;
      //       }
      //     }
      //   }
      // }
    }
  }
}

