@import "../variables";

@mixin containerTitle {
  h2{
    text-align: center;
    font-size: 30px;
    font-family: $subFontMedium;
    div{
      width: 50px;
      height: 3px;
      background-color: $mainColor;
      margin: 20px auto 0px;
    }
  }

  @media (max-width:500px){
    h2{
      font-size: 24px;
      div{
        margin: 10px auto 0px;
      }
    }
  }
}

.mainBanner{
  position: relative;
  .mainSlide{
    .slide{
      height: 85vh;
      min-height: 500px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      font-size: 70px;
      text-align: center;
      color: #fff;
      span{
        font-size: 70px;
        font-family: $fontBold;
        position: relative;
        color: #fff;
        &::after{
          content: "";
          position: absolute;
          left: 50%;
          bottom: 5px;
          transform: translateX(-50%);
          width: 110%;
          height: 20px;
          z-index: -1;
          background-color: #4981bdaa;
        }
      }
    }
  }
  .mouse{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    z-index: 1;
    cursor: pointer;
  }
}

.staffIntro{
  .staffSlide{
    .slide{
      img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      .moimg{
        display: none;
      }
      .content{
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%,-50%);
        white-space: nowrap;
        h2{
          font-size: 50px;
          font-family: $fontBold;
          display: flex;
          align-items: flex-end;
          letter-spacing: 15px;
          span{
            font-size: 35px;
            font-family: $fontMedium;
            margin-left: 10px;
            letter-spacing: 0px;
          }
        }
        p{
          &:nth-child(2){
            font-size: 20px;
            margin: 15px 0px 25px;
          }
          &:nth-child(3){
            color: $mainColor;
            font-size: 30px;
            font-family: $fontBold;
            margin-bottom: 20px;
          }
          &:nth-child(4){
            line-height: 1.6;
            font-size: 20px;
          }
        }
        a{
          border: 1px solid #000;
          padding: 10px 40px;
          margin-top: 50px;
        }
        .pageNav{
          text-align: right;
          width: 100%;
          .nav{
            width: 50px;
            height: 50px;
            background-color: $mainColor;
            text-align: center;
            line-height: 50px;
            color: #fff;
            font-size: 24px;
            margin: 30px 2px 0px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.special{
  text-align: center;
  margin: 100px 0px;
  @include containerTitle();
  .subContent{
    margin-top: 40px;
    font-size: 24px;
  }
  ul.icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 50px 0px;
    overflow: hidden;
    li{
      position: relative;
      transition: all 1s;
      &:nth-child(1){
        left: -300px;
      }
      &:nth-child(2){
        bottom: -300px;
      }
      &:nth-child(3){
        right: -300px;
      }
      p{
        margin-top: 30px;
        font-size: 20px;
        color: $mainColor;
      }
    }
    li.on{
      &:nth-child(1){
        left: 0px;
      }
      &:nth-child(2){
        bottom: 0px;
      }
      &:nth-child(3){
        right: 0px;
      }
    }
  }

  .content{
    overflow: hidden;
    div{
      font-size: 20px;
      line-height: 1.5;
      position: relative;
      transition: right 1s .8s, left 1s .8s, opacity 3s .8s;
      opacity: 0;
      span{
        font-size: 20px;
        line-height: 1.5;
        font-family: $fontBold;
      }
    }
    .left{
      left: -500px;
    }
    .right{
      right: -500px;
    }
  }
  .content.on{
    .left{
      left: 0px;
      opacity: 1;
    }
    .right{
      right: 0px;
      opacity: 1;
    }
  }
}

.exam{
  padding: 150px 0px 100px;
  background-color: #f9f9f9;
  @include containerTitle();
  .grid{
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 80px;
    font-family: $subFontMedium;
    > div{
      width: 100%;
      overflow: hidden;
      h3{
        font-size: 24px;
        border-bottom: 2px solid #8fc1e0;
        display: inline-block;
        padding-bottom: 7px;
      }
      p{
        margin-top: 30px;
        line-height: 1.5;
        font-size: 18px;
        color: #666;
      }
      .examSlide{
        .slide{
          img{
            width: 100%;
          }
          h4{
            margin-top: 30px;
            font-size: 24px;
          }
        }
        .pageingBall{
          display: flex;
          margin-top: 50px;
          border-radius: 5px;
          overflow: hidden;
          background-color: #e5e5e5;
          span{
            flex: 1;
            width: 100%;
            border-radius: 0;
            margin: 0 0;
            border-radius: 5px;
            background-color: #e5e5e5;
          }
          span.swiper-pagination-bullet-active{
            background-color: $mainColor;
          }
        }
      }
    }
  }
}

.sevice{
  position: relative;
  padding: 200px 0px 250px;
  text-align: center;
  @include containerTitle();
  ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 80px;
    li{
      background-color: #fff;
      padding: 60px 0px;
      box-shadow: 3px 3px 7px 0 #b7b7b7;
      position: relative;
      top: 70px;
      opacity: 0;
      @for $i from 1 to 4 {
        &:nth-child(#{$i}){
          transition: top .8s, opacity .8s; 
        }
      }
      &:hover{
        top: -20px !important;
      }
      h3{
        font-size: 30px;
        line-height: 1;
        margin: 30px 0px 0px;
        font-family: $subFontMedium;
      }
      div{
        width: 100px;
        height: 2px;
        background-color: $mainColor;
        display: inline-block;
        margin: 10px 0px;
      }
      p{
        margin-top: 10px;
        font-size: 20px;
        line-height: 1.2;
      }
    }
    li.on{
      top: 0px;
      opacity: 1;
    }
  }
  .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}

.snsLink{
  background-color: #fafafa;
  padding: 200px 0px 250px;
  margin-bottom: 230px;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  .content{
    h3{
      font-size: 28px;
      margin-bottom: 40px;
      line-height: 1.2;
      color: #767676;
      font-family: $fontBold;
    }
    p{
      margin: 20px 0px;
      font-size: 18px;
      line-height: 1.2;
      color: #767676;
    }
  }
  ul{
    position: absolute;
    bottom: -230px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0px 50px;
    li{
      padding: 80px 0px 60px;
      text-align: center;
      border: 1px solid #d3dddc;
      background-color: #fff;
      &:nth-child(1){
        border-bottom-left-radius: 50px;
      }
      &:nth-child(3){
        border-top-right-radius: 50px;
      }
      p{
        font-size: 22px;
        line-height: 1.2;
        margin: 30px 0px;
        span{
          font-size: 22px;
          font-family: $fontBold;
        }
      }
      a{
        padding: 7px 20px;
        border-radius: 15px;
        color: #fff;
        background-color: $mainColor;
      }
    }
  }
}

.baunmiLook{
  @include containerTitle();
  padding: 200px 0px 100px;
  .baunmiSlide{
    margin: 60px 0px 0px;
    .slide{
      img{
        width: 100%;
      }
    }
    .pageingBall{
      text-align: center;
      margin-top: 30px;
      span{
        width: 12px;
        height: 12px;
        border: 2px solid $mainColor;
        background: none;
        opacity: 1; 
      }
      span.swiper-pagination-bullet-active{
        background-color: $mainColor;
      }
    }
  }
}

.loction{
  .content{
    background-color: #fbfbfb;
    width: 100%;
    padding: 50px 0px;
    ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      li{
        text-align: center;
        h3{
          font-size: 22px;
          font-family: $subFontMedium;
          font-weight: bold;
          margin-bottom: 20px;
        }
        p{
          font-size: 20px;
          line-height: 1.4;
          font-family: $subFontMedium;
          span{
            font-size: 20px;
            font-family: $subFontMedium;
            font-weight: bold;
            color: $mainColor;
            line-height: 1.4;
            margin-top: 5px;
            display: inline-block;
          }
          span.lunchTime{
            font-size: 18px;
          }
        }
      }
    }
  }

  .kakaoMap{
    width: 100%;
    height: 350px;
  }

  .loctionDetail{
    text-align: center;
    padding: 40px 0px;
    font-size: 30px;
    font-family: $subFontMedium;
    i{
      font-size: 30px;
      margin-right: 20px;
      color: $mainColor;
    }
  }
}

.brand{
  background-color: #f3f3f3;
  padding: 40px 0px;
  .brandSlide{
    .swiper-wrapper{
      align-items: center;
    }
    .slide{
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}

@media (max-width:1200px){
  .staffIntro{
    .staffSlide{
      .slide{
        img{
          left: 60%;
        }
        .content{
          left: 70%;
        }
      }
    }
  }

  .snsLink{
    ul{
      width: 100%;
    }
  }
}

@media (max-width:1000px){
  .mainBanner{
    .mainSlide{
      p{
        font-size: 50px;
        span{
          font-size: 50px;
          &::after{
            height: 15px;
          }
        }
      }
    }
  }
}

@media (max-width:900px){
  .staffIntro{
    text-align: center;
    .staffSlide{
      .slide{
        img{
          width: 100%;
          left: 50%;
        }
        .pcimg{
          display: none;
        }
        .moimg{
          display: block;
        }
        .content{
          top: 30%;
          left: 50%;
          h2{
            justify-content: center;
          }
          p:nth-child(4){
            display: none;
          }
          a{
            margin-top: 20px;
          }
          .pageNav{
            text-align: center;
          }
        }
      }
    }
  }

  .sevice{
    .bg{
      display: none;
    }
  }
}

@media (max-width:700px){
  .exam{
    padding: 50px 0px 50px;
    .grid{
      grid-template-columns: 1fr;
      margin-top: 30px;
      text-align: center;
      > div{
        &:first-child{
          display: none;
        }
        .examSlide{
          .slide h4{
            margin-top: 15px;
          }
          .pageingBall{
            margin-top: 30px;
          }
        }
      }
    }
  }

  .sevice{
    padding: 100px 0 100px;
    ul{
      grid-template-columns: 1fr;
      margin-top: 50px;
    }
  }

  .snsLink{
    position: relative;
    margin-bottom: 960px;
    background-position: 70%;
    background-size: cover;
    &::after{
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #00000055;
    }
    .content{
      position: relative;
      z-index: 1;
      text-align: center;
      :is(h3, p){
        color: #fff;
      }
    }
    ul{
      z-index: 1;
      grid-template-columns: 1fr;
      bottom: -960px;
      li{
        :is(&:nth-child(1), &:nth-child(3)){
          border-bottom-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }

  .loction{
    .content{
      ul{
        grid-template-columns: 1fr;
        grid-gap: 20px;
        li{
          padding:0 30px;
          &:nth-child(2){
            background-color: #fff;
            padding: 10px 0px;
          }
        }
      }
    }
  }
}

@media (max-width:600px){
  .mainBanner{
    .mainSlide{
      p{
        span{
          display: block;
          &::after{
            width: 150px;
            bottom: -5px;
          }
        }
      }
    }
  }

  .staffIntro{
    .staffSlide{
      .slide{
        .content{
          h2{
            font-size: 40px;
            letter-spacing: 2px;
            span{
              font-size: 26px;
            }
          }
          p{
            &:nth-child(3){
              font-size: 28px;
            }
            &:nth-child(4){
              font-size: 16px;
            }
          }
          .pageNav{
            .nav{
              width: 36px;
              height: 36px;
              line-height: 36px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .special{
    ul.icon{
      grid-template-columns: 1fr;
      grid-gap: 20px;
      li{
        top: 200px;
        opacity: 0;
        &:nth-child(1){
          left: 0px;
          transition: all 1.5s;
        }
        &:nth-child(2){
          bottom: 0px;
          transition: all 1.5s .2s;
        }
        &:nth-child(3){
          right: 0px;
          transition: all 1.5s .4s;
        }
        p{
          margin-top: 30px;
          font-size: 20px;
        }
      }
      li.on{
        top: 0px;
        opacity: 1;
      }
    }

  }

  .baunmiLook{
    padding: 100px 0px 100px;
  }

  .loction{
    .loctionDetail{
      font-size: 20px;
      i{
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}

@media (max-width:500px){
  .mainBanner{
    .mainSlide{
      p{
        font-size: 40px;
        span{
          font-size: 40px;
          &::after{
            width: 120px;
          }
        }
      }
    }
  }

  .special{
    .content{
      div{
        font-size: 14px;
        letter-spacing: -1px;
        span{
          font-size: 14px;
          font-family: $fontMedium;
          letter-spacing: -1px;
        }
      }
    }
    
  }
  
  .snsLink{
    padding: 100px 0px 100px;
    margin-bottom: 790px;
    .content{
      h3{
        font-size: 20px;
      }
      p{
        font-size: 14px;
        letter-spacing: -1px;
        br{
          display: none;
        }
      }
    }
    ul{
      left: 0;
      bottom: -790px;
      padding: 0px 15px;
      li{
        padding: 30px 0px;
        p{
          font-size: 18px;
          span{
            font-size: 18px;
          }
        }
      }
    }
  }

  .loction{
    .content{
      ul{
        grid-template-columns: 1fr;
        grid-gap: 20px;
        li{
          p{
            font-size: 16px;
            span.lunchTime{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:400px){
  .staffIntro{
    .staffSlide{
      .slide{
        .content{
          h2{
            font-size: 32px;
            letter-spacing: 2px;
            span{
              font-size: 22px;
            }
          }
          p{
            &:nth-child(2){
              font-size: 18px;
              margin: 15px 0px;
            }
            &:nth-child(3){
              font-size: 22px;
              margin-bottom: 10px;
            }
            &:nth-child(4){
              font-size: 14px;
            }
          }
          a{
            margin-top: 30px;
          }
          .pageNav{
            .nav{
              width: 36px;
              height: 36px;
              line-height: 36px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
